name: OWASP ZAP Scan

on:
  push:
    branches:
      - main  # Adjust the branch name as needed
  pull_request:
    

jobs:
  zap_scan:
    runs-on: ubuntu-latest
   
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: ZAP Scan
        uses: zaproxy/action-api-scan@v0.3.0
        with:
          target: 'http://e727-14-140-115-103.ngrok-free.app'
          permissions: 'write-all'
