name: OWASP API Scan

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  owasp_api_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run OWASP API Scan
        run: |
          docker pull owasp/zap2docker-weekly
          docker run --rm -v $(pwd):/zap/wrk/:rw -t owasp/zap2docker-weekly zap-api-scan.py -t https://6df8-103-211-15-147.ngrok-free.app/docs -f openapi -r report.html

      - name: Save OWASP API Scan Report
        uses: actions/upload-artifact@v2
        with:
          name: owasp-api-scan-report
          path: report.html
