name: OWASP ZAP Scan

on:
  push:
    branches:
      - main  # Adjust the branch name as needed
  pull_request:

jobs:
  zap_scan:
    runs-on: ubuntu-latest
   
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install dependencies
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm install

      - name: Build application
        run: npm run build

      - name: Start application
        run: npm run start

      - name: Run OWASP ZAP scan
        run: npm run zap-scan

      - name: Upload ZAP scan report
        uses: actions/upload-artifact@v2
        with:
          name: zap-scan-report
          path: ./zap-report.html
