name: OWASP DAST Scan

on:
  push:
    branches:
      - main  # Adjust the branch name as needed
  pull_request:

jobs:
  dast_scan:
    runs-on: ubuntu-latest
    permissions: write-all
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Run DAST Scan
        run: |
          docker pull owasp/zap2docker-weekly
          docker run -v $(pwd):/zap/wrk/:rw -t owasp/zap2docker-weekly zap-api-scan.py \
          -t openapi.json \
          -f openapi \
          touch api-active-scan.html \
          -z "-config replacer.full_list(0).description=auth1 \
              -config replacer.full_list(0).enabled=true \
              -config replacer.full_list(0).matchtype=REQ_HEADER \
              -config replacer.full_list(0).matchstr=x-auth-token \
              -config replacer.full_list(0).regex=false \
              -config replacer.full_list(0).replacement=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImYyOTMxYjg1LWU5NGUtNDY4MS04ZWM4LWFkOTQyZDNmM2MwZiIsImVtYWlsIjoibW9oaXRiaGFyZHdhakBnbWFpbC5jb20iLCJwYXNzd29yZCI6IiQyYiQxMCRZZ0daR2g2LlZqSmFIcHhRQzJoYXhlajFZdVV5eU8wLllhaHA1VE0wckxXWmJFdDBKaGN4TyIsImlhdCI6MTY4ODk2OTQ0MX0.2YPQA5dyZ6cu51Cdq2x3NkH3a7XdBQqikMVlskVqXHo"