name: OWASP ZAP Scan

on:
  push:
    branches:
      - main  # Adjust the branch name as needed
  pull_request:

jobs:
  zap_scan:
    runs-on: ubuntu-latest
   
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # - name: ZAP Scan
      #   uses: zaproxy/action-api-scan@v0.3.0
      #   with:
      #     token: ${{ secrets.GIT_TOKEN }}
      #     target: 'https://44f0-14-140-115-103.ngrok-free.app/docs'
      #     permissions: 'write-all'

      - name: Run OWASP ZAP scan
        run: |
          docker pull owasp/zap2docker-live  
          docker run -v $(System.DefaultWorkingDirectory)/owaspzap:/zap/wrk:rw --user root -t owasp/zap2docker-weekly zap-api-scan.py -t openapi.json -f openapi -z "-config /zap/wrk/options.prop" -r api-active-scan.html

          