name: Check run

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - run: sudo apt-get update && sudo apt-get install -y nginx && sudo systemctl start nginx

    - name: ZAP Scan
      uses: ./
      id: action-full-scan
      with:
        target: 'http://localhost:3001'